*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
    
}

div.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

header{
    background-color: white;
    grid-area: header;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "searchbar account"
    "actions actions";
    padding: 8px 16px;
    align-items: center;
}

.searchbar{
    grid-area: searchbar;
}

#search{
    height: 2rem;
    width: 50%;
    border-radius: 1rem;
    border: none;
    background-color: darkgrey;
}



.account{
    grid-area: account;
    justify-self: right;
    display: flex;
    align-items: center;
    gap: 16px;
}

.account button{
    background: none;
    border: none;
}

button.notifications{
    font-size: 2rem;
}

button.account-settings{
    font-size: 4rem;
}

.actions{
    grid-area: actions;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-buttons ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

.action-button{
    background-color: cornflowerblue;
    border: none;
    color: white;
    height: 2rem;
    width: 10ch;
    border-radius: 2rem;
}

.greeting{
    grid-area: greeting;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 16px;
}

.greeting .iconify{
    font-size: 4rem;
}

.account-name{
    font-size: 1.5rem;
    font-weight: 500;
}

.sidebar{
    background-color: blueviolet;
    grid-area: sidebar;
}

main{
    background-color: cadetblue;
    grid-area: main;
}
